.mixin.out/**
crash-reports/**
logs/**
mods/*.jar
natives/**
paintings/**
palettes/**
local/**
saves/**
schematics/**
screenshots/**
themes/**
hotbar.nbt
knownkeys.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
reauth.toml
servers.dat
servers.dat_old
usercache.json
usernamecache.json
node_modules
*.log
.vscode/*.log
*.mrpack
.vscode
versions/quilt/*/mods/fabric-api.pw.toml
